mat-table {
  width: 100%;
  overflow: auto;
}

mat-header-cell {
  background: var(--primary-blue);
  color: white;
}

mat-cell button {
  background: var(--error-red);
}

mat-cell button:hover {
  background: darkred;
}
