<h2>Studenter</h2>
<mat-spinner *ngIf="loading"></mat-spinner>
<p *ngIf="error" class="error">{{ error }}</p>
<mat-table [dataSource]="dataSource" *ngIf="!loading && !error">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Namn </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.email }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="homeUniversity">
    <mat-header-cell *matHeaderCellDef> Hemuniversitet </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.homeUniversity }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef> Land </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.country }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="interests">
    <mat-header-cell *matHeaderCellDef> Intressen </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{ student.interests.join(', ') }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Åtgärder </mat-header-cell>
    <mat-cell *matCellDef="let student"> <button mat-raised-button color="warn" (click)="confirmDelete(student.id)" matTooltip="Radera studentprofil">Radera</button> </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
