<div class="login-box">
  <div class="logo-box">
    <img src="assets/erasmus-logo.png" alt="Erasmus Logo" class="logo-image" (click)="navigateToHome()">
  </div>
  <div class="login-container">
    <div class="top-column">
      <h2 class="dark-blue-text">Logga in</h2>
    </div>
    <div class="middle-column">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #loginFormRef="ngForm">
        <mat-form-field appearance="fill" class="centered-field">
          <mat-label>Användarnamn</mat-label>
          <input matInput formControlName="username" required matTooltip="Ange ditt användarnamn">
        </mat-form-field>
        <mat-form-field appearance="fill" class="centered-field">
          <mat-label>Lösenord</mat-label>
          <input matInput type="password" formControlName="password" required matTooltip="Ange ditt lösenord">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="custom-button" (click)="onSubmit()">Logga in</button>
      <p *ngIf="error" class="error">{{ error }}</p>
      <p>Inget konto? <a routerLink="/register" class="dark-blue-text">Registrera dig</a></p>
    </div>
  </div>
</div>
