<div class="students-box">
  <div class="logo-box">
    <img src="assets/erasmus-logo.png" alt="Erasmus Logo" class="logo-image" (click)="logout()">
  </div>
  <div class="students-container">
    <div class="top-column">
      <h2 class="dark-blue-text">Studenter</h2>
    </div>
    <div class="middle-column">
      <p>Detta är studentvyn. Hantera dina studenter här.</p>
      <button mat-raised-button color="primary" (click)="goBack()" class="custom-button">Tillbaka</button>
      <button mat-raised-button color="warn" (click)="logout()" class="custom-button">Logga ut</button>
    </div>
  </div>
</div>
